parameters:
    stocarul_urban_airship.handler.stream.class: Monolog\Handler\StreamHandler
    stocarul_urban_airship.service.airship.class: Stocarul\UrbanAirshipBundle\Service\Airship

services:
    stocarul_urban_airship.service.airship:
        class: %stocarul_urban_airship.service.airship.class%
        arguments:
            - %stocarul_urban_airship.app_key%
            - %stocarul_urban_airship.app_master_secret%
